{% extends 'blog/base.html' %}

{% block header %}

{% load static %}

<header class="masthead" style="background-image: url({% static 'blog/assets/img/about-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}

{% block main_content %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p> Me llamo Nazareno Rosano, tengo 23 años, egresado de la carrera Contador publico en la <a href="https://fcea.udelar.edu.uy/">FCEA-UDELAR</a> y actualmente estoy dando mis primeros pasos en la programacion.</p>
                <p> Esta web fue creada utilizando los conocimientos adquiridos en el curso de programación en Python de <a href="https://www.coderhouse.com/">Coderhouse.</a></p>
                <p> El fin de este blog es ser una fan page de un festival de musica electronica <a href="https://www.q-dance.com/en/">DEFQON1</a> que se realiza en Paises Bajos .</a></p>
            </div>
        </div>
    </div>
</article>

{% endblock main_content %}